version = 0.1

[default]
[default.deploy]
[default.deploy.parameters]
stack_name = "library-api-stack"
s3_bucket = ""
s3_prefix = "library-api"
region = "eu-west-1"
confirm_changeset = true
capabilities = "CAPABILITY_IAM"
disable_rollback = false
image_repositories = []